# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.idea

/esp32_person_detection/build/
/esp32_person_detection/cmake-build-debug/
/esp32_person_detection/sdkconfig.old
/esp32_person_detection/sdkconfig
